@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root{
    --cor-principal: #132CA9;
    --cor1: #ab0f97;
    --cor2: #504ed2;
    --cor3: #7e72fd;
    --cor4: #d7c0ff;
    --cor5: #4A4650;
    --preto: #000000;
    --branco: #FFFFFF;
}

body{
    font-size: 1rem;
    font-family: 'Playwrite Italia Moderna';
}

section {
  padding-bottom: 5rem;
}

header {
  background-color: var(--cor5);
}

.nav-link{
  color: var(--cor5);
  font-size: 600;
}

.inicio-fundo {
  background-image: url(img/corinthians-esportesdasorte-e1721962106897.png);
  background-size: cover;
  background-position: right;
  border-radius: 80px;
  width: 100%;
  height: 606px;
  padding: 40px;
  margin: 0 auto;
}

.esquerda-conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.botao-incio {
  background-color: var(--cor5);
  border-radius: 30px;
  border: none;
  width: 14em;
  height: 3em;
  align-content: center;
}




.display-4 {
  text-shadow: -5px 5px var(--cor3);
}

#Corinthians {
  position: relative;
  padding-top: 5rem;
  margin-top: 3rem;
  background: var(--cor-principal);
  background-size: 180px 180px; /* Ajuste o tamanho conforme necessario*/
}

Corinthians .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;/* Garante que o conteúdo fica acima das imagens das background se houverem*/
}









  #contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
  }

  .formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
  }

  .formulario button{
    background-color: #504ed2;
    border: none;
    font-weight: bold;
  }

  .form-control{
    background-color: #ab0f97;
  }
    

